.App {
  text-align: center;
}



.user-info-class {
  text-align: left;
  padding: 1em;
  margin: 1em;
  border: 2px solid #d3d3d3;
  border-radius: .5em;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  margin-top: 100px;
}

.update-profile-heading {
  padding-top: 70px;
  text-align: center;
  font-size: 1.5em;
}

.home {
  height: 100%;
  margin: 0;
  background: no-repeat center/80% url("assets/background.jpeg");
}

body, html {
  height: 100%;
  }
  .bg {
  background-image: url("assets/background.jpeg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

.jumbotron {
  color: white;
  // font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  // font-size: 3em;
  // font-style: italic;
}

#locator { position: absolute; visibility: visible; left: 20px; top: 700px; z-index: 200; }