.App {
  text-align: center;
}

.navbar {
  width: 100%;
}

.user-info-class {
  text-align: left;
  padding: 1em;
  margin: 1em;
  border: 2px solid #d3d3d3;
  border-radius: .5em;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  background-color: white;
}

.medium-table {
  text-align: left;
  padding: 1em;
  margin: 1em;
  border: 2px solid #d3d3d3;
  border-radius: .5em;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background-color: white;
}

.large-table {
  text-align: left;
  padding: 1em;
  margin: 1em;
  border: 2px solid #d3d3d3;
  border-radius: .5em;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  background-color: white;
}

.update-profile-heading {
  color: white;
}

.generate-meal-table {
  padding: 1em;
  margin: 1em;
  border: 2px solid #d3d3d3;
  border-radius: .5em;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
}


.update-profile-heading {
  padding-top: 70px;
  text-align: center;
  font-size: 1.5em;
}

// .home {
//   height: 100%;
//   margin: 0;
//   background: no-repeat center/80% url("assets/background.jpeg");
// }

body, html {
  height: 100%;
  padding-top: 38px;
  }
  .bg {
  background-image: url("assets/background.jpeg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  border: 1px solid transparent;
  overflow: scroll;
  }
  @media (max-width: 979px) {
    body {
      padding-top: 0px;
    }
}

.jumbotron {
  color: white;
  // font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  // font-size: 3em;
  // font-style: italic;
}

#locator {
  color: white;
  position: relative;
  visibility: visible;
  left: 0%;
  margin-top: 30%;
  width: 75%;
  z-index: 200;
}

.locater-img {
  position: relative;
  visibility: visible;
  left: 18%;
  margin-top: -15%;
  width: 15%;
  z-index: 100;
}

.navItems {
  color: white;
  background-color: "dark";
  text-align: center;
  }

.navItems:hover {
    color: white;
    // background-color: white;
  }

.dropdownItems {
  color: black;
  text-align: left;
}

.tableHeaders {
  color: white;
  text-align: center;
}

.Modalstyle {
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  background-color: papayawhip;
}

.error-message-div {
  padding : 1em;
  background-color: #ff7272;
  color: white;
}

.recEntryButtons {
  margin-top: 20px;
}
// ----------------------------------
// Weekly View Styling
// ----------------------------------
.weekly-div-card {
  float : left;

  width: 13%;
  height: 15em;

  border: 2px solid black;

  background-color: #f1f1f1;
  margin: 0.5%;
  justify-content: center;
}

.weekly-scroller {
  padding-left: 2%;
  padding-right: 0%;
  overflow-y: scroll;
  height: auto;
  height:88%;
  box-sizing: content-box;
  justify-content: center;
}

.weekly-modal {
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: .3rem;
  outline: 0;
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
}

.too-much-text {
  overflow:hidden;
}

.btn-weekly-delete:hover {
  background-color: #ff7272;
}